<!DOCTYPE html>
<html lang="pl">
<body>
<h1><b>Formularz zamawiania usług lakierniczych w warsztacie</b></h1></br>
<b>Spis dostepnych usług:</b></br></br>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'orders:mybox'%}" method="post">
    {% csrf_token %}
    {% for service in service_list %}

    <input type="checkbox" name="service[]" id="service{{ forloop.counter }}" value="{{ service.id }}"/>
    <label for="service{{ forloop.counter }}">{{ service.service_name }}, koszt: {{ service.service_price }}
        zł</label><br/>
    {% endfor %}
    <br/><br/>
    <input type="submit" value="Dodaj do koszyka"/>
</form>
</body>
<head>
    <meta charset="UTF-8">
    <title>Wybór usług lakierniczych</title>
</head>
</html>