<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Zawartość koszyka</title>
    {% load static %}
    <link href="{% static 'orders/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- Montserrat Sans -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400, 700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <div class="navbar">
        <a class="menu" href="{% url 'home:index'%}"><i class="icon-align-justify"></i></a>
        <a class="link" href="{% url 'orders:index'%}">
            <span class="active"><span class="valign"><span class="vertical">USŁUGI</span></span></span>
            <span class="hover"><span class="valign"><span class="vertical">USŁUGI</span></span></span>
        </a>
        <a class="link" href="{% url 'orders:mybox'%}">
            <span class="active"><span class="valign"><span class="vertical">KOSZYK</span></span></span>
            <span class="hover"><span class="valign"><span class="vertical">KOSZYK</span></span></span>
        </a>
        <a class="link" href="{% url 'orders:finalize'%}">
            <span class="active"><span class="valign"><span class="vertical">DANE</span></span></span>
            <span class="hover"><span class="valign"><span class="vertical">DANE</span></span></span>
        </a>
        <a class="link" href="{% url 'orders:summary'%}">
            <span class="active"><span class="valign"><span class="vertical">ZLECENIE</span></span></span>
            <span class="hover"><span class="valign"><span class="vertical">ZLECENIE</span></span></span>
        </a>
    </div>

    </br>
    <h1><b>Zawartość twojego koszyka:</b></h1></br>

    {% if message %}
    <h2 id="error-m"><p><strong>{{ message }}</strong></p></h2>
    <br/>
    {% endif %}

    <div class="box-container">
        <div class="box-content">
            <ul>
                {% for content in box_content %}
                <li>{{ content }}</li>
                {% endfor %}
            </ul>
            <form action="{% url 'orders:finalize'%}" method="post">
                {% csrf_token %}
                {% if shopping_box %}
                <input type="hidden" name="edit" value="false"/>
                </br><h3 id="box-price">Suma: {{shopping_box.sum_price}} zł</h3>
                {% endif %}
                <br/>
                <input type="submit" value="Finalizuj zamówienie" class="btn" id="fin-btn"/>
            </form>
            <form action="{% url 'orders:index'%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="edit" value="true"/>
                <br/>
                <input type="submit" value="Edytuj zawartość koszyka" class="btn" id="edit-btn"/>
            </form>
        </div>
    </div>
</div>
<h4 id="footer">Politechnika Śląska, AEiI, INF, SSM, BDiS (2017)</h4>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>
