<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Podsumowanie zamówienia</title>
</head>
<body>
<h1><b>Podsumowanie złożonego zamówienia:</b></h1></br>
<h3><b>Dane zamawiającego:</b></h3></br>
<ul>
    {% for detail in user_details %}
    <li>{{ detail }}</li>
    {% endfor %}
</ul>
</br>
<h3><b>Zamówione usługi lakiernicze:</b></h3></br>
<ul>
    {% for detail in order_details %}
    <li>{{ detail }}</li>
    {% endfor %}
</ul>
</br>
<h2><b>Suma do zapłaty: {{ order_price }} zł</b></h2>
</body>
</html>